{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="js/svg.jquery.js"></script>
<script type="text/javascript" src="js/pygal-tooltips.min.js"></script>

<!-- Begin Main page content -->
<div class="container">
    <p class="lead"><span class="glyphicon glyphicon-wrench"></span>Configuration</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="color:white;">Configure the Survey Tool</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 well">
                </div>
            </div>
        </div>
    </div>

    <p class="lead"><span class="glyphicon glyphicon-tasks"></span>Statistics</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="color:white;">Survey Count: <b>{{surveys}}</b></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for chart in pie_charts %}
                <div class="col-md-6 well">
                    {{ chart.render() | safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %} 
