<!-- This is the template for the index page, containing the data to be
     sent to the invoice. Fields are defined in html.py -->
{% extends "layout.html" %}
{% block body %}
<style>
.check-row {
	width: 0% !important;
}
</style>
<div class="container">
		<!-- Introduction Text -->
	<h4>Tampa/Hillsborough Continuum of Care</h4>
	<h4>Point in Time (PIT) Survey</h4><br/>
	<p>Hello, my name is 
	<input type="text" size="15" name="{{ volunteer }}"/>
	and I’m a volunteer for the Tampa/Hillsborough Continuum of Care.  We are conducting a survey to count homeless people to provide better services to them in our community.  Your participation is voluntary and your responses will not be shared with anyone outside of our team.  I need to read each question all the way through.  May I have a few minutes of your time?</p>
	<p>If the person declines to participate please gather as much identifying/descriptive info as possible on the observation survey.</p>

	<form method='post' action="{{ url_for('submit_form') }}">
		<!-- General information block -->
		<p class="lead"><span class="glyphicon glyphicon-info-sign"></span>General Information</p>
		<div class="well">
			<div class="row">
				{% for item in general_inputs.inputs %}
					<div class="col-md-3">
						<b>{{ item.label }}</b>
						<input type="text" class="form-control input-sm" name="{{ item.id }}"/>
				  	</div>
				{% endfor %}
			</div>
		</div>
		
		<!-- Submit -->
		<p class="lead"><span class="glyphicon glyphicon-check"></span>Submit</p>
		<div class="well">
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn fit-width btn-primary">Submit Information</button> 
				</div> 
			</div>
		</div>
	</form>
</div>
{% endblock %}

