/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin top bottom by header/footer height */
    margin-bottom: 5px;
    margin-top: 60px;
    background-image: url("light_toast.png");
    background-repeat: repeat;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    margin-top: 20px;
    background-color: #f5f5f5;
}

/* Template page CSS
/* -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding-top: 20px;
  padding-bottom: 50px;
}
.row {
  padding-bottom: 5px;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}

/* Custom Padding and properties */
/* -------------------------------------------------- */
.table > tbody > tr > td > .alert {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}
.table > tbody > tr > td > .glyphicon {
    margin-right: 10px;
}
.well > .panel {
    margin-bottom: 0px;
}
.navbar-nav > li {
    padding-left: 5px;
}
.page-header {
	border-bottom: 1px solid #C0C0C0;
}
.panel-footer {
	text-align: center;
	min-height: 5em;
	padding-left: 30px;
	padding-right: 30px;
}
.fit-width {
    width: 100%
}
.col-md-2 {
	padding-left: 85px;
	padding-top: 3px;
}
.glyphicon {
	padding-right: 7px;
}
.row > * > .alert {
	padding: 7px;
	margin-bottom: 0px;
}
hr {
	margin-top: 3px;
	margin-bottom: 3px;
}
.btn-group-vertical > .btn, .btn-group > .btn {
	position: relative;
	float: none !important
}
.colspacer {
	padding-top: 15px
}
.panel-heading {
  padding-bottom: 20px;
  background-color: #737575 !important;
}
.footer-well {
	margin-bottom: 75px;
}
/* index.html Google map style */
#map { 
	width:100%; 
	height:400px; 
}

